<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
  
    <header><div>{{header}}</div></header>
<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Cum earum nesciunt qui obcaecati voluptate impedit ad omnis! Ex amet suscipit excepturi sint porro neque exercitationem magni, odit pariatur ipsum? Laborum enim impedit laudantium repellendus?</p>
    <footer><div>{{footer}}</div></footer>
</body>
</html>