<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <header>
        {{>header}}
    </header>
<h2>Page with contacts</h2>
<b>My phone number +38-068-631-34-23</b> 
<h5>Vitalii Hubariev</h5>

<footer>
    <h5>{{>footer}}</h5>
</footer>

</body>
</html>