<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <header>
        {{>header}}
    </header>
<h2>Main page</h2>
<P>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Veritatis natus eveniet labore deleniti, porro sint, quo odio, ullam nam harum dolorum. Beatae voluptates doloremque suscipit molestias vel vero ipsum itaque sequi esse distinctio temporibus modi aut, corrupti nulla? Fugit, distinctio! Debitis placeat delectus asperiores. Incidunt cumque provident exercitationem dignissimos. Ratione laboriosam nostrum assumenda debitis.</P>

<footer>
    <h5>{{>footer}}</h5>
</footer>

</body>
</html>